<div class="row">
  <div class="twelve columns">
    <%= form_for @comment, :as => :items, :remote => true, :html => {:'data-type' => 'html'} do |f| %>
      <div class="validation-error"></div>

      <%= f.text_area    :content %>
      <%= f.hidden_field :post_id, :value => post.id %>
      <%= f.submit 'Сохранить' %>
    <% end %>
  </div>
</div>